<!-- 2 params - text and svg icon path -->

<section class="pt-2 mt-12 md:w-60">
	<a href="{{params.link}}">	
    <div class="flex items-center p-4 bg-green-200 rounded-lg shadow-xs cursor-pointer hover:bg-green-500 hover:text-gray-100">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="{{ params.path }}"
            />
        </svg>
        <div  class="ml-2 font-medium text-s">
            
            {{ params.text }}
            
        </div>
    </a>

</section>