@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

body {
	@apply text-2xl;
}

h1 {
	@apply mb-3 text-4xl tracking-tighter text-center lg:text-5xl;
}

h2 {
	@apply mt-6 mb-3 text-2xl font-bold;
}

h3 {
	@apply font-bold;
}

p {
	@apply mt-6;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*='language-'],
body pre[class*='language-'] {
	@apply bg-gray-800;
}

ul {
	@apply ml-8;
}