---
layout: layouts/homepage
title: home
---

{# hero #}
<header
	class="container h-screen m-auto mb-12 bg-fixed bg-bottom bg-vista-sm md:bg-vista-md lg:bg-vista-lg xl:bg-vista-2xl"
>

{% include "./_includes/partials/navbar.html" %}

	<div class="p-5 text-center text-black rounded-xl">
		<div class="text-3xl">The Inkpot</div>
    <div class="text-lg">A 25 acre organic permaculture demonstration farm in South Lincolnshire</div>
	</div>
  
</header>

{# second row #}
<div class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="flex justify-center">
    
      <blockquote class="instagram-media" data-instgrm-captioned>
        <div style="padding:16px;">
          <a
              href="https://www.instagram.com/p/CP1gUKSHFbU/?utm_source=ig_embed&amp;utm_campaign=loading"
              target="_blank"
          >
        </div>
        <script async src="//www.instagram.com/embed.js"></script>
      </blockquote>
      <div>
		
	</div>
      
    </div>
    <div class="mt-12 md:mt-0">
      
      {% include "./_includes/partials/produce_pane.html" %} 
      
       
    </div>
  </div>
</div>